.contenido-contacto {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    justify-content: center;

    .mapa-contacto {
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 0;

        .maps {
            width: 600px;
            height: 450px;
        }

        iframe {
            border-radius: 20px;
            padding: 2px;
            background-color: #343434;
        }

        .whatsapp-instagram {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            margin-left: 0;
            justify-content: center;

            .wpp {
                display: flex;
                align-items: center;
                margin: 10px;

                .whatsappLogo {
                    width: 40px;
                }

                .textoContacto {
                    color: black;
                    text-decoration: none;
                    margin-inline: 10px;
                }
            }

            .insta {
                @extend .wpp;
                margin: 0;
                padding-inline: 40px;

                .instagramLogo {
                    width: 40px;
                }

                .textoContacto {
                    color: black;
                    text-decoration: none;
                    margin-inline: 10px;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 540px;
        padding-top: 0px;

        .form__button {
            background-color: #393939;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 10px;
            margin-inline: 5px;
            margin-top: 10px;

            &:hover {
                background-color: white;
                outline: 2px inset #343434;
                color: black;
            }
        }

        input,
        textarea,
        select {
            outline: none;
            border: solid 1px #343434;
            padding: 4px;
            width: 95%;
            border-radius: 10px;

            &:focus {
                border-color: rgb(61, 61, 61);
            }
        }

        .inputs {
            border-bottom-width: 3px;
        }

        .form-control,
        .form-select {
            background-color: #77777700;

            &:focus,
            &:focus {
                background-color: #77777700;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        }
    }
}