@media screen and (max-width: 600px) {

    /*HEADER*/

    .row > * {
        width: 550px;
    }

    .navbar {
        padding-right: 20px;

        .navbar-collapse {
            padding-left: 20px;
        }
    
        .navbar-toggler {
            border: solid 1px whitesmoke;
        }
    
        .header__logo {
            width: 200px;
            margin-top: 10px;
            margin-left: 10px;
            padding: 0;
        }
    }

    /* CONTENIDO INDEX */

    .index {
        padding: 30px 40px 30px 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
        grid-template-areas:
            "tarjeta1"
            "tarjeta2"
            "tarjeta3"
            "tarjeta4";
        justify-items: center;
    } 

    /* ENCABEZADOS */

    .encabezado__titulo {
        font-size: 28px;
    }
    
    .encabezado__parrafo {
        font-size: 16px;
    }

    /* TABLAS */

    .tabla {
        width: 90%;
        font-size: 13px;
    }

    /* PRODUCTOS */

    .section {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "producto1"
            "producto2"
            "producto3"
            "producto4"
            "producto5"
            "producto6"
            "producto7"
            "producto8";
            width: 100%;
            padding-inline: 60px;
            margin-inline: auto;
    }

    /* TRATAMIENTOS */

    .tratamientos__container {
        width: 100%;
        padding-inline: 40px;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
        "tratamiento1"
        "tratamiento2"
        "tratamiento3"
        "tratamiento4"
        "tratamiento5"
        "tratamiento6"
        "tratamiento7"
        "tratamiento8"
        "tratamiento9";
        gap: 30px;
    }

    /* BELLEZA */

    .belleza {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        overflow: hidden;
        gap: 5px;
        padding-inline: 10px;
        text-align: center;

        .belleza__imagen {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .belleza__texto {
                .belleza__titulo {
                color: black;
            }
    
            .belleza__parrafo {
                color: black;
                margin-bottom: 0;
            }
        }
    }

        /* IFRAME MAPS Y DATOS DE CONTACTO */
    
        .contenido-contacto {
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;

            .mapa-contacto {
                padding: 0;

                .maps {
                    width: 330px;
                    height: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .whatsapp-instagram {
                padding: 0px;
                margin: 0;
                justify-content: center;
                
                .insta {
                    padding-inline: 5px;
                }

                .whatsappLogo, .instagramLogo {
                    margin-top: 10px;
                    width: 25px;

                    .textoContacto {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
            }
        }

        /* FORMULARIO DE CONTACTO */

        .form {
            width: 350px;
            padding: 0px;

            .form__button {
                margin-top: 0;
            }

            input, textarea, select {
                width: 100%;
            }

            .form__label {
                padding-bottom: 10px;
            }
        
            .select {
                padding: 4px;
            }
        }

        .ms-5 {
            margin: 30px!important;
        }

        .mt-4 {
            margin-top: 1rem!important;
        }

        .boton {
            padding: 15px 0 15px 0;
            width: 100%;

            .mt-3 {
                margin-top: 0!important;
            }
        }

        /* BOTON FLOTANTE WHATSAPP */

        .whatsapp__flotante {
            bottom: 0;
            margin: 0 20px 14px 0;
        }

        .whatsapp__boton {
            display: none;
        }

        /* FOOTER */

        .footer {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            grid-template-areas: 
                "redes"
                "autoria";
                gap: 0px;

                .footer__redes {
                    padding: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            
                .footer__texto {
                    padding-inline: 5px;
                    margin-inline: 0px;
                }
            
                .footer__autoria {
                    padding-bottom: 12px;
                    margin-bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
}